.telegram-menu{
  position:absolute;
  top:8px;
  left:8px;

  width:220px;

  background:#17212b;
  border:1px solid #243342;
  border-radius:12px;

  overflow:hidden;
  z-index:1000;

  box-shadow:0 12px 35px rgba(0,0,0,.45);

  animation:menuFade .12s ease;
}

.compact-menu{
  width:220px;
}

.telegram-menu-item{
  width:100%;
  height:44px;

  border:none;
  background:transparent;
  color:#d7dde5;

  cursor:pointer;

  display:flex;
  align-items:center;
  gap:14px;

  padding:0 16px;

  font-size:14px;
  font-weight:500;
  font-family:inherit;

  text-align:left;

  transition:.15s;
}

.telegram-menu-item:hover{
  background:#243342;
}

.telegram-menu-item span{
  width:22px;
  min-width:22px;

  display:flex;
  align-items:center;
  justify-content:center;

  color:#9fb0c1;

  font-size:16px;
  line-height:1;

  opacity:1;
}

.telegram-menu-item.danger{
  color:#ff6b6b;
}

.telegram-menu-item.danger span{
  color:#ff6b6b;
}

.dialog-context-menu{
  position:absolute;
  right:12px;
  top:42px;

  width:170px;

  background:#17212b;
  border:1px solid #243342;
  border-radius:12px;

  overflow:hidden;
  z-index:50;

  box-shadow:0 10px 35px rgba(0,0,0,.45);
}

.dialog-context-menu button{
  width:100%;
  height:42px;

  border:none;
  background:transparent;
  color:#d7dde5;

  display:flex;
  align-items:center;
  gap:12px;

  padding:0 14px;

  cursor:pointer;
  font-family:inherit;
  font-size:14px;
  font-weight:500;
  text-align:left;
}

.dialog-context-menu button:hover{
  background:#243342;
}

.dialog-context-menu button.danger{
  color:#ff6b6b;
}

@keyframes menuFade{
  from{
    opacity:0;
    transform:translateY(-5px) scale(.98);
  }

  to{
    opacity:1;
    transform:translateY(0) scale(1);
  }
}

.dialog-delete-confirm{
  padding:8px;
}

.dialog-delete-title{
  color:white;
  font-size:14px;
  font-weight:700;
  margin-bottom:4px;
}

.dialog-delete-text{
  color:#9fb0c1;
  font-size:12px;
  line-height:1.35;
  margin-bottom:10px;
}

.dialog-delete-actions{
  display:flex;
  justify-content:flex-end;
  gap:8px;
}

.dialog-delete-actions button{
  width:auto;
  height:32px;
  padding:0 12px;
  border-radius:8px;
  font-size:12px;
}

.dialog-delete-actions button.danger{
  background:#ef4444;
  color:white;
}

.dialog-delete-actions button.danger:hover{
  background:#dc2626;
}